.container {
  border: 3px solid var(--base-white-300);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  height: 60vh;
  width: 60vw;
  max-width: 600px;
}

.divider {
  background-color: var(--base-white-300);
  min-height: 3px;
}
