.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px 25px;
  gap: 40px;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
