:root {
  --base-white-100: #ffffff;
  --base-white-200: #f8f9fa;
  --base-white-300: #e9ecef;
  --base-white-400: #dee2e6;
  --base-white-500: #ced4da;
  --base-gray-100: #adb5bd;
  --base-gray-200: #6c757d;
  --base-gray-300: #495057;
  --base-black-100: #343a40;
  --base-black-200: #212529;
  --base-black-300: #000000;
}
