:root {
  --text-2xs: 11px;
  --text-xs: 12px;
  --text-sm: 13px;
  --text-base: 14px;
  --text-md: 15px;
  --text-lg: 16px;
  --text-xl: 17px;
  --text-2xl: 18px;
  --text-3xl: 20px;

  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  --font-family-nanum-gothic: "Nanum Gothic", sans-serif;
  --font-family-google-sans: "Google Sans", sans-serif;
}
