.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  font-size: var(--text-md);
  width: 40%;
  padding: 0 20px;
}

.title {
  font-weight: var(--font-medium);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
