.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 100%;
  width: 100%;

  font-size: var(--text-base);
  font-weight: var(--font-semibold);
}

.box {
  border: 2px solid var(--base-gray-100);
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 60%;
  svg {
    position: relative;
    width: 40px;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 10px;
    overflow: hidden;
  }
}
