.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
}

.innerContainer {
  border: 3px solid var(--base-gray-100);
  border-radius: 15px;
  padding: 15px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
